.DS_Store
Resources
build.log
build
npm-debug.log
tmp
.map
.project
.settings
Thumbs.db
plugins/ti.alloy/hooks/alloy.js

plugins/ti.alloy/plugin.py

plugins/ti.alloy/hooks/deepclean.js

platform/ios/alloy_generated

i18n/alloy_generated

platform/android/alloy_generated
